@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">VEHICLE DATA PORTAL</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core" class="text-decoration-none">Retrieving Data from Excel File and Save into MSSQL Database</a>.</p>
</div>
